body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }
    
.dark-overlay {
    background: rgba(0, 0, 0, 0.7);
}

input::placeholder {
    color: #8c8c8c;
}

@media (max-width: 740px) {
    .logo {
    width: 100px !important;
    }

    .dark-overlay {
    background: black !important;
    }
}
